flows.json
[
    {
        "id": "alert_flow_1",
        "type": "tab",
        "label": "Security Alerts",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_alert_in",
        "type": "mqtt in",
        "z": "alert_flow_1",
        "name": "Detection Status",
        "topic": "abdel_project_9Xs9/security/detection",
        "qos": "1",
        "datatype": "auto",
        "broker": "3021d6b6f3f5d4d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "debug_alert",
                "ui_alert_text"
            ]
        ]
    },
    {
        "id": "ui_alert_text",
        "type": "ui_text",
        "z": "alert_flow_1",
        "group": "b94556d0f1053844",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Detection Alert",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug_alert",
        "type": "debug",
        "z": "alert_flow_1",
        "name": "View Raw Msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "ed53dad064f34eef",
        "type": "mqtt in",
        "z": "alert_flow_1",
        "name": "Access Status",
        "topic": "abdel_project_9Xs9/security/access",
        "qos": "1",
        "datatype": "auto",
        "broker": "3021d6b6f3f5d4d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "fedb8cc424d34552",
                "9d3fd9614072bbc3"
            ]
        ]
    },
    {
        "id": "fedb8cc424d34552",
        "type": "ui_text",
        "z": "alert_flow_1",
        "group": "b94556d0f1053844",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Access Alert",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "9d3fd9614072bbc3",
        "type": "debug",
        "z": "alert_flow_1",
        "name": "View Raw Msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "70e7d34b53ca8cc9",
        "type": "debug",
        "z": "alert_flow_1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e22328af7813ce8",
        "type": "mqtt out",
        "z": "alert_flow_1",
        "name": "",
        "topic": "abdel_project_9Xs9/security/commands",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3021d6b6f3f5d4d1",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "beda97a27fca6e65",
        "type": "ui_button",
        "z": "alert_flow_1",
        "name": "",
        "group": "b94556d0f1053844",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remote Unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OPEN_DOOR",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "8e22328af7813ce8"
            ]
        ]
    },
    {
        "id": "59dcdbe80dfa7f78",
        "type": "ui_switch",
        "z": "alert_flow_1",
        "name": "",
        "label": "Panic Mode",
        "tooltip": "",
        "group": "b94556d0f1053844",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "abdel_project_9Xs9/security/commands",
        "topicType": "msg",
        "style": "",
        "onvalue": "ALARM_ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "ALARM_OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "8e22328af7813ce8"
            ]
        ]
    },
    {
        "id": "c5ede34d209aa877",
        "type": "mqtt in",
        "z": "alert_flow_1",
        "name": "Door State",
        "topic": "abdel_project_9Xs9/security/door",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3021d6b6f3f5d4d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "2f8a8e5b167d22fd",
                "e7614efa031fd0da"
            ]
        ]
    },
    {
        "id": "2f8a8e5b167d22fd",
        "type": "ui_text",
        "z": "alert_flow_1",
        "group": "b94556d0f1053844",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "e7614efa031fd0da",
        "type": "debug",
        "z": "alert_flow_1",
        "name": "View Raw Msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "3021d6b6f3f5d4d1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b94556d0f1053844",
        "type": "ui_group",
        "name": "Status",
        "tab": "b2db5dcaad503de7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2db5dcaad503de7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a43e280378d67a85",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]