flows.json
[
    {
        "id": "alert_flow_1",
        "type": "tab",
        "label": "Security Alerts",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ed53dad064f34eef",
        "type": "mqtt in",
        "z": "alert_flow_1",
        "name": "Detection Alert",
        "topic": "abdel_project_9Xs9/security/detection",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "3021d6b6f3f5d4d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "fedb8cc424d34552",
                "9d3fd9614072bbc3"
            ]
        ]
    },
    {
        "id": "fedb8cc424d34552",
        "type": "ui_text",
        "z": "alert_flow_1",
        "group": "9036c7723b728c85",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Detection Alert",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 620,
        "y": 20,
        "wires": []
    },
    {
        "id": "9d3fd9614072bbc3",
        "type": "debug",
        "z": "alert_flow_1",
        "name": "View Raw Msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "8e22328af7813ce8",
        "type": "mqtt out",
        "z": "alert_flow_1",
        "name": "",
        "topic": "abdel_project_9Xs9/security/commands",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3021d6b6f3f5d4d1",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "beda97a27fca6e65",
        "type": "ui_button",
        "z": "alert_flow_1",
        "name": "",
        "group": "9036c7723b728c85",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remote Unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OPEN_DOOR",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "5062c3edaf550210"
            ]
        ]
    },
    {
        "id": "59dcdbe80dfa7f78",
        "type": "ui_switch",
        "z": "alert_flow_1",
        "name": "",
        "label": "Panic Mode",
        "tooltip": "",
        "group": "9036c7723b728c85",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "abdel_project_9Xs9/security/commands",
        "topicType": "msg",
        "style": "",
        "onvalue": "ALARM_ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "ALARM_OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "8eb506495eb3393e"
            ]
        ]
    },
    {
        "id": "5062c3edaf550210",
        "type": "function",
        "z": "alert_flow_1",
        "name": "Commands_Function",
        "func": "msg.payload = {\n    \"cmd\": \"OPEN_DOOR\",\n    \"ts\": Math.floor(Date.now() / 1000) // Current Unix Timestamp\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "8e22328af7813ce8"
            ]
        ]
    },
    {
        "id": "8eb506495eb3393e",
        "type": "function",
        "z": "alert_flow_1",
        "name": "Commands_Function",
        "func": "// 1. Get current Unix timestamp (required for security check)\nvar timestamp = Math.floor(Date.now() / 1000);\n\n// 2. Determine command based on Switch input\nvar command = \"ALARM_OFF\"; // Default safe state\n\n// Case A: Switch sends Boolean (true/false) - Standard behavior\nif (typeof msg.payload === 'boolean') {\n    command = (msg.payload) ? \"ALARM_ON\" : \"ALARM_OFF\";\n} \n// Case B: Switch sends String (\"ALARM_ON\"/\"ALARM_OFF\") - Your configuration\nelse if (typeof msg.payload === 'string') {\n    if (msg.payload === \"ALARM_ON\" || msg.payload === \"ON\") {\n        command = \"ALARM_ON\";\n    }\n}\n\n// 3. Construct the JSON payload\nmsg.payload = {\n    \"cmd\": command,\n    \"ts\": timestamp\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 700,
        "wires": [
            [
                "8e22328af7813ce8"
            ]
        ]
    },
    {
        "id": "49a461c67be9cd3a",
        "type": "mqtt in",
        "z": "alert_flow_1",
        "name": "Access Alert",
        "topic": "abdel_project_9Xs9/security/access",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "3021d6b6f3f5d4d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "a131dde03c3be7a1",
                "dd91a5376fa8eb20"
            ]
        ]
    },
    {
        "id": "a131dde03c3be7a1",
        "type": "ui_text",
        "z": "alert_flow_1",
        "group": "9036c7723b728c85",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Access Alert",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "dd91a5376fa8eb20",
        "type": "debug",
        "z": "alert_flow_1",
        "name": "View Raw Msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "b1ceb443bd09b6c2",
        "type": "mqtt in",
        "z": "alert_flow_1",
        "name": "Door State",
        "topic": "abdel_project_9Xs9/security/door",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "3021d6b6f3f5d4d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "06b64e2dd6252e68",
                "5868fad54f42af03"
            ]
        ]
    },
    {
        "id": "06b64e2dd6252e68",
        "type": "ui_text",
        "z": "alert_flow_1",
        "group": "9036c7723b728c85",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door State",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "5868fad54f42af03",
        "type": "debug",
        "z": "alert_flow_1",
        "name": "View Raw Msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "3021d6b6f3f5d4d1",
        "type": "mqtt-broker",
        "name": "AWS IoT Core",
        "broker": "a303ehanbggla2-ats.iot.eu-west-3.amazonaws.com",
        "port": "8883",
        "tls": "aws_tls_config_node",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9036c7723b728c85",
        "type": "ui_group",
        "name": "",
        "tab": "d878c4b108d807c6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aws_tls_config_node",
        "type": "tls-config",
        "name": "AWS Certs",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "certificate.pem.crt",
        "keyname": "private.pem.key",
        "caname": "AmazonRootCA1 (1).pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "d878c4b108d807c6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "be9ba6f41ad27dd8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]